.check-rules: &check-rules
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      when: on_success
    - when: never

default:
  tags:
    - autoscale

stages:
  - lint
  - format
  - test
  - create-mr

lint:
  <<: *check-rules
  stage: lint
  image: node:20
  script:
    - npm ci
    - npm run lint

format:
  <<: *check-rules
  stage: format
  image: node:20
  script:
    - npm ci
    - npm run format:check

test:
  <<: *check-rules
  stage: test
  image: node:20
  script:
    - npm ci
    - npm run test

create-mr:
  stage: create-mr
  image: curlimages/curl:latest
  script:
    - LIST_MR_URL="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/merge_requests?source_branch=${CI_COMMIT_BRANCH}&state=opened"
    - echo "Checking URL:$LIST_MR_URL"
    - |
      RESPONSE=$(curl -s --header "PRIVATE-TOKEN: ${GITLAB_TOKEN}" "$LIST_MR_URL")
    - echo "API Response snippet:$(echo $RESPONSE | cut -c 1-50)..."
    - COUNT=$(echo "$RESPONSE" | grep -o '"id":' | wc -l || echo 0)
    - echo "Existing MR count is $COUNT"
    - |
      if [ "$COUNT" -gt 0 ]; then
        echo "MR 已經存在，跳過建立動作。"
      else
        echo "正在建立新的 Merge Request..."
        curl --request POST -s \
          --header "PRIVATE-TOKEN: ${GITLAB_TOKEN}" \
          "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/merge_requests" \
          --data "source_branch=${CI_COMMIT_BRANCH}" \
          --data "target_branch=main" \
          --data-urlencode "title=Auto MR: ${CI_COMMIT_TITLE}" \
          --data "remove_source_branch=true"
      fi

  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != "main"
      when: on_success
